.usContainer {
    background-color: var(--background);
    display: block;
    flex: 1;
    box-sizing: border-box;
}
.usContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.usSubtitle {
    color: var(--accent);
}

.weBelieveUs {
    margin-top: 100px;
    width: 70%;
    height: 400px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.weBelieveUsTextContainer {
    width: 40%;
    border-radius: 20px;
    background-color: var(--secondary);
    padding: 50px;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.weBelieveUsImage {
    width: 400px;
    justify-self: center;
}

.weBelieveUsText {
    font-size: 20px;
    line-height: 33px;
}
