.studentDashboardSubjectsDetailsContainer {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.studentDashboardSubjectsDetailsContainer {
    padding: 1vw 1.5vw;
    display: flex;
    flex-direction: row;
}
.studentDashboardSubjectsDetailsSideContainer {
    padding: 0 2vw;
}
.studentDashboardSubjectDetailsMarksContainer {
    background: var(--secondary);
    border-radius: 1vw;
    padding: 1vw 2vw;
}
.studentDashboardSubjectDetailsMarksTitle {
    margin: 0;
    font-weight: 600;
}