.studentDashboardContainer {
    background-color: var(--background);
    display: flex;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
}
.studentDashboardSubjectsContainer {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.studentDashboardSubjectContainer {
    max-width: 100%;
    background: var(--secondary);
    display: flex;
    align-items: center;
}
.studentDashboardSubjectWideContainer {
    grid-column: span 2;
}
.studentDashboardSubjectsDataContainer {
    padding: 1.5vw 3.5vw;
    display: grid;
    grid-template-columns: auto auto;
    overflow-y: auto;
    flex: 1;
}
.studentDashboardSubjectContainer {
    margin: 0.5vw 0.5vw;
    border-radius: 1vw;
    padding: 0.7vw 1.5vw;
    cursor: pointer;
}
.studentDashboardSubjectName {
    font-size: 1.3rem;
    font-weight: 350;
    flex: 4;
}
.studentDashboardSubjectAverage {
    font-size: 1.3rem;
    flex: 0.5;
    text-align: center;
    margin-left: 0.8vw;
}
.studentDashboardSubjectDetailsIcon {
    height: 1.2vw;
    width: 1.2vw;
    .details {
        fill: var(--accent);
        stroke: var(--accent);
    }
    transition: background-color 0.1s ease;
}
.studentDashboardSubjectDetailsIconContainer {
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.studentDashboardSubjectDetailsIconContainer:hover {
    background-color: var(--tertiary);
    cursor: pointer;
}
.studentDashboardSubjectDetailsContainer {
    flex: 1;
}
.studentDashboardSubjectDetailsHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.studentDashboardSubjectDetailsCloseIcon {
    height: 1.1rem;
    width: 1.1rem;
    .close {
        stroke: var(--accent);
    }
}
.studentDashboardSubjectDetailsTitle {
    font-size: 1.5rem;
}