.studentDashboardContainer {
    background-color: var(--background);
    display: flex;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
}
.studentDashboardSubjectsContainer {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.studentDashboardSubjectContainer {
    height: 3.7rem;
    max-width: 100%;
    background: var(--secondary);
    display: flex;
}
.studentDashboardSubjectsDataContainer {
    padding: 1.5vw 3.5vw;
    display: grid;
    grid-template-columns: auto auto;
    overflow-y: auto;
    flex: 1;
}
.studentDashboardSubjectContainer {
    margin: 0.5vw 0.5vw;
    border-radius: 1vw;
    padding: 0.5vw 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.studentDashboardSubjectName {
    font-size: 1.3rem;
    font-weight: 350;
    flex: 4;
}
.studentDashboardSubjectAverage {
    font-size: 1.3rem;
    flex: 0.5;
    text-align: center;
    margin-left: 0.8vw;
}
.studentDashboardSubjectDetailsIcon {
    height: 1.1rem;
    width: 1.1rem;
    cursor: pointer;
    .details {
        fill: var(--accent);
        stroke: var(--accent);
    }
}