.checkboxContainer {
    width: 27px;
    height: 27px;
    border-width: 2px;
    border-color: var(--primary);
    border-radius: 5px;
    border-style: solid;
    transition: background-color ease 0.2s;
    cursor: pointer;
    background-color: var(--background);
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
}

.checkboxContainer:hover {
    background-color: var(--secondary);
}

.enabledCheckbox {
    background-color: var(--primary);
}

.checkboxIcon {
    width: 17px;
    height: 17px;
}
