.footerContainer {
    height: auto;
    padding: 100px 150px 50px;
    display: flex;
}
.footerLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 150px;
}
.footerLogo {
    height: 60px;
}
.copyrightFooterText {
    color: var(--minimal);
    font-size: 15px;

    white-space: nowrap;
}
.footerSectionContainer {
    flex: 1;
    padding: 30px;
    margin-bottom: 10px;
}
.footerSectionTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.footerSectionItem {
    margin-bottom: 20px;
}