.studentDashboardHeaderContainer {
    width: calc(100% - 3.4vw);
    border-width: 1px;
    border-color: var(--secondary);
    padding: 1.7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.studentDashboardHeaderTitle {
    margin: 5px;
}
.studentDashboardHeaderIconNotification {
    height: 2vw;
    width: 2vw;
    margin: 5px;
}
.studentDashboardHeaderIconContainer {
    display: flex;
    align-items: center;
}
.studentDashboardHeaderLanguageSelectorContainer {
    display: flex;
    flex: 1;
    margin: 0 15px;
    align-items: center;
    cursor: pointer;
}
.studentDashboardHeaderLanguageSelectorFlag {
    width: 2vw;
    height: 2vw;
    margin: 5px;
}
.studentDashboardHeaderLanguageSelectorArrow {
    width: 1vw;
    height: 1vw;
    margin: 0 10px ;
    transform: rotate(180deg) translateY(-2px);
}
.studentDashboardHeaderSearchBarContainer {
    background: var(--secondary);
    height: 3vw;
    width: 30vw;
    border-radius: 20px;
    align-items: center;
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
}
.studentDashboardHeaderSearchBarInput {
    background: #00000000;
    border-style: none;
    font-size: 1rem;
    flex: 1;
    color: var(--text);
}
.studentDashboardHeaderSearchBarInput:focus {
    outline: none;
}
.studentDashboardHeaderSearchBarInput::placeholder {
    font-family: "Lexend", sans-serif;
    color: var(--minimal);
}
.studentDashboardHeaderSearchBarIcon {
    width: 1.3vw;
    height: 1.3vw;
    margin-left: 15px;
    margin-right: 5px;
}
.studentDashboardHeaderSearchBarIcon:hover {
    cursor: pointer;
}