.notFoundContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    width: 100%;
    height: calc(100vh - 6em - 50px);
}

.notFoundSiteContainer {
    background-color: var(--background);
}